.app .SimpleDigSpeedo
{
    text-align:center;
    font-family: "Dejavu Sans Mono", Monaco, monospace;
    color: RGBA(0,0,0,0.5);
}
.app .SimpleDigSpeedo .speedField
{
    font-size:35px;
    height:53px;
}

.app .SimpleDigSpeedo .unitField
{
    font-size:10px;
    color: black;
    height:12px;
}

.app .SimpleDigSpeedo .unitField:hover
{
    background: RGBA(128,128,128,0.5);
}