.app .SimpleDigSpeedo
{
    text-align:center;
    color: RGBA(0,0,0,0.5);
}
.app .SimpleDigSpeedo .speedDiv
{
    font-size:35px;
    height:53px;
}

.app .SimpleDigSpeedo .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;
    cursor: pointer;
}

.app .SimpleDigSpeedo .labelDiv:hover
{
    background: RGBA(128,128,128,0.5);
}
