/* custom jquery ui dialog style */

.ui-app
{
	font-family: Arial;
	text-shadow: none;
	font-size: 11pt;
}

.ui-app .ui-dialog-content
{
	overflow: hidden;
	padding: 0px;
}

.ui-app .opaque
{
	background-color: RGBA(255,255,255,0.9);
	border-radius: 8px;
	padding: 5px;
}


.ui-app .ui-dialog-titlebar
{
	display:none;
	padding:2px;
	padding-left: 10px;
	position:absolute;
	left:0;
	right:0;
	z-index:10;
	border-radius: 8px;
	font-weight: bold;
	font-size: 12pt;
}

.ui-app-editmode
{
	background-color:#ddd !important;
	border-radius: 8px;
}

.ui-dialog .ui-resizable-handle {
	display:none;
/*	background-color:rgba(255,0,0,0.3) !important;*/
}

.ui-widget-content {
	border:0;
	margin:0;
	padding:0;
}