/* custom jquery ui dialog style */

.ui-dialog .ui-dialog-titlebar
{
	padding:2px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 12pt;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	left:0;
	right:0;
}

.ui-dialog .ui-dialog-content
{
	border: 1px solid #E78F08;
	border-top-width: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	left:0;
	right:0;	
}


.ui-app
{
	font-family: Arial;
	text-shadow: none;
	font-size: 11pt;
}

.ui-app .ui-dialog-content
{
	overflow: hidden;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.ui-app .ui-dialog-titlebar
{
	display:none;
	position:absolute;
	z-index:10;
	border-radius: 8px;
}

.ui-app-editmode
{
	background-color:#ddd !important;
	border-radius: 8px;
}

.ui-dialog .ui-resizable-handle {
	display:none;
/*	background-color:rgba(255,0,0,0.3) !important;*/
}

.ui-widget-content {
	border:0;
	margin:0;
	padding:0;
}


/* backgroundstyles */
.ui-app .opaque-simple, .ui-app .opaque
{
	background-color: RGBA(255,255,255,0.9);
}

.ui-app .opaque
{
	border-radius: 8px;
	padding: 5px;
}

.ui-app .transparent
{
	background: transparent;
}

/* Styling of Appstore */
#AppStore
{
	background: #eee;
}

.storecontent
{
	padding: 0px;
}

.appButton
{
	width: 250px;
	height: 150px;
	background: white;
	overflow: hidden;
	border: 1px solid #eee;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	padding: 5px;
}

.appButton:hover
{
	background: black;
}