html, body {position: relative}

/* custom jquery ui dialog style */

.ui-dialog .ui-dialog-titlebar
{
    padding:2px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 12pt;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left:0;
    right:0;
    text-shadow: none;
    background-image: none;
}

.ui-dialog .ui-dialog-content
{
    border: 1px solid #E78F08;
    border-top-width: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left:0;
    right:0;
}


.ui-app
{
    font-family: Arial;
    text-shadow: none;
    font-size: 11pt;
    cursor:default;
}

.ui-app .ui-dialog-content
{
    overflow: hidden;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.ui-app .ui-dialog-titlebar
{
    display:none;
    position:absolute;
    z-index:10;
    border-radius:0 !important;

    background-color:rgba(231, 143, 8,0.5) !important;
    background-image: none;
    color: white;
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000;
    font-size:0.9em;
}

.ui-app-editmode
{
    background-color:#ddd !important;
    border-radius:0 !important;
}

.ui-dialog .ui-resizable-handle {
/*    display:none; */
/*    background-color:rgba(255,0,0,0.3) !important;*/
}

.ui-widget-content {
    border:0;
    margin:0;
    padding:0;
}


/* backgroundstyles */
.ui-app .opaque-simple, .ui-app .opaque
{
    background-color: RGBA(255,255,255,0.9);
}

.ui-app .opaque
{
    border-radius: 8px;
    padding: 5px;
}

.ui-app .transparent
{
    background: transparent;
}

/* Styling of Appstore */
#AppStore
{
    background: #fff;
}

.appButton
{
    background: white;
    overflow: hidden;
    border: 3px solid #bbb;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 0;
}

.appButton:hover
{
    box-shadow: 0 0 10px #000;
}

.appButtonInfo, .appButtonInfo, .appButtonTitle
{
    overflow: hidden;
    font-size: 12pt;
}

.appButtonPanel, .appButton
{
    width: 250px;
    height: 150px;
}

.appButtonImage, .appButtonInfo
{
    height: 120px;
}

.appButtonImage
{
    box-shadow: inset 0 0 15px 2px #555;
    background-repeat: no-repeat;
}

.appButtonTitle
{
    height: 30px;
    padding-top: 5px;
    padding-left: 10px;
    background: #bbb;
}

.appButtonInfo
{
    font-size: 10pt;
    padding: 3px;
    padding-left: 7px;
}

.appButtonSmall
{
    font-size: 10pt;
    color: gray;
}

.RPIndicator
{
    position: absolute;
    background: red;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px red;
    width: 20px;
    height: 20px;
    z-index: 5000000;
}

.appengine-blending
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}
