/* custom jquery ui dialog style */

.ui-dialog .ui-dialog-content
{
	overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar
{
	display:none;
	height:20px;
	padding:2px;
	overflow:hidden;
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	z-index:10;
	margin:0px;
	-webkit-border-radius: 0;
}

.dialog-edit-content
{
	background-color:#ddd !important;
	border:1px solid black !important;
}

.ui-dialog .ui-resizable-handle {
	display:none;
	/* background-color:red !important; */
}

.ui-widget-content {
	border:0;
}
/* CSS for beamNG.container-widget */
.bNG-container {
	position: absolute;
	top: 50px;
	left: 50px;
}

.bNG-container .bNG-container-titlebar {
	display: none;
}

.bNG-container-title {
	overflow: hidden;
}

.bNG-container-edit {
	background: white;
	border: 1px solid black;
}

.bNG-container-edit .bNG-container-content {
	background: red;
}

.bNG-container-titlebar {
	position: absolute;
	top: 0;
	left: 0;
}

.bNG-container-edit .bNG-container-titlebar, .bNG-container-titlebuttons {
	display: block;
	background: black;
	color: white;
	padding: 4px;
	font-size: 12px;
	height: 20px;
}

.bNG-container-titlebuttons {
	position: absolute;
	top: 0;
	right: 0;
}