#vehiclechooser{
	background: #fff;
	overflow: hidden;
	padding: 0;
}
#vehiclechooser .breadcrumb {
	font-size: 90%;
    margin: 5px;
}
#vehiclechooser .selector {
	overflow: auto;
	position: absolute;
	top: 25px;
	bottom: 50px;
	left: 0;
	right: 0;
	padding: 10px;
}

#vehiclechooser .buttonarea{
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#vehiclechooser .filterPanel{
	float: left;
	width: 150px;
	padding: 10px;
}

#vehiclechooser .vehiclePanel{
	margin-left: 170px;
}

#vehiclechooser .filterbox{
	border: 3px solid #bbb;
	margin-bottom: 5px;
	border-radius: 5px;
}

#vehiclechooser .filtername{
	background: #bbb;
	padding: 2px;
}

#vehiclechooser .filterValueContainer{
	display: none;
}

#vehiclechooser .filterbox:hover .filterValueContainer{
	display: block;
}

#vehiclechooser .filterValueContainer.selected{
	display: block;
}



#vehiclechooser h1{
	margin: 10px 0 10px 0;
}
#vehiclechooser h2{
	margin: 5px 0 5px 0;
}
#vehiclechooser h3{
	margin: 2px 0 2px 0;
}


.simplebutton{
	color: white !important;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	text-shadow: none;
	margin-left: 5px;
	display: inline-block;
}

.colorButton{
    display: inline-block;
    vertical-align: middle;
}

.colorButtonName{
    padding: 5px;
    padding-left: 15px;
    background: #bbb;
    border-radius: 8px;
    position:relative;
    top: -22px;
    left: -15px;
    z-index: 10;
}

.selected .colorButtonName{
    background: #96BB8C;
}

.colorButtonColor{
    border: 3px solid #bbb;
    border-radius: 9999px;
    z-index: 20;
}

.selected .colorButtonColor{
    border-color: #96BB8C;
}

.colorWidgetChrome, .colorWidgetShadow{
    background-position: center;
    background-size: 100% 100%;
}

.colorWidgetContainer div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 9999px;
}
.colorWidgetColor{
    background-color: rgb(128,128,128);
    margin: 1px;
}
.colorWidgetChrome{
    background-image: url('/html/images/color-chrome.png');
    opacity: 0.5; 
}
.colorWidgetShadow{
    background-image: url('/html/images/color-shadow.png');    
}
.colorWidgetContainer{
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

