#vehiclechooser{
	background: #fff;
	overflow: hidden;
	padding: 0;
}
#vehiclechooser .breadcrumb {
	font-size: 90%;
    margin: 5px;
}
#vehiclechooser .selector {
	overflow: auto;
	position: absolute;
	top: 25px;
	bottom: 50px;
	left: 0;
	right: 0;
}

#vehiclechooser .buttonarea{
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#vehiclechooser .filterPanel{
	float: left;
	width: 150px;
	padding: 10px;
}

#vehiclechooser .vehiclePanel{
	margin-left: 170px;
}

#vehiclechooser .filterbox{
	border: 3px solid #bbb;
	margin-bottom: 5px;
	border-radius: 5px;
}

#vehiclechooser .filtername{
	background: #bbb;
	padding: 2px;
}


.simplebutton{
	color: white !important;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	text-shadow: none;
	margin-left: 5px;
	display: inline-block;
}