/* menu */

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

#video-viewport {
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -2; /* for accessing the video by click */
}

#blending {
    position: absolute;
    background: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

@font-face {
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans.ttf);
}


#menu {
    background: rgba(0,0,0,0.5);
    /*border-left: 3px solid #ee4e1d;*/
    width: 250px;
    position: fixed;
    z-index: 100000;
/*
    box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -moz-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
    -webkit-box-shadow: 4px 0 10px rgba(0,0,0,0.25);
*/
    border-left:6px solid rgba(255,255,255,0.3);
}

#menu {
    right: 0; /* Change to right: 0; if you want the panel to display on the right side. */
    top:0;
    transition: 0.2s;
}

#menu:hover { /*, #menu:focus {*/
    transition: 0.2s;
    right: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}

/* arrow */
#menu .arrow {
    left: 2px; /* Change to left: 2px; if you want the panel to display on the right side. */
}

#menu .arrow {
    /*font: normal 400 25px/25px 'Acme', Helvetica, Arial, sans-serif;*/ /* Acme font is required for .arrow */
    color: rgba(0,0,0,0.75); /* Arrow color */
    width: 16px;
    height: 25px;
    /*display: block;*/
    display:none;
    position: absolute;
    top: 20px;
    cursor: default;
}

/*
#menu:hover .arrow {
    transform: rotate(-180deg) translate(6px,-3px);
    -moz-transform: rotate(-180deg) translate(6px,-3px);
    -webkit-transform: rotate(-180deg) translate(6px,-3px);
}
*/

/* nav */
#menu nav {
    position: relative;
    top: 75px;
    padding-left:5px;
}

#menu nav a {
    padding: 10px 5px;
    /*border-bottom: 1px dotted #c0c0c0;*/
    display: block;
    clear: both;
    /*font: bold 13px/18px 'Open Sans', Helvetica, Arial, sans-serif;*/
    text-decoration: none;
    display:block;
    color:#eee;
    font-family:Verdana;
    font-size:18px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:30px;
    text-decoration:none;
    text-align:left;
    vertical-align: top;
    transition: all 0.2s ease-out;
}

#menu nav a:hover {
    color: #66fa66; /*#ee4e1d;*/
    cursor: pointer;
    -webkit-filter: drop-shadow( 0px 0px 10px #fff );
    filter: drop-shadow( 0px 0px 10px #fff );
    font-size:22px;
    transition: 0.2s;
}

#menu nav a:hover .icon {
    width:38px !important;
    height:38px !important;
    fill:#66fa66 !important;
}

#infobottom {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
}

/* notice area */
#menu notice {

    /* padding-bottom: 5px; */
    background-color:rgba(60,60,60,0.8);

    
    
    display: flex;
    flex-direction: column;

    color:#eee;
    font-family:Verdana;
    font-size:12px;
    font-style:normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor:default;
    vertical-align: bottom;
}

#menu notice div {
    padding:5px;
    border-top:1px solid rgba(255,255,255,0.3);
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: #fff;
    transition: 0.2s;
    vertical-align:middle;
}

#infoseperator {
    border-top:5px solid rgba(255,255,255,0.3);
}

#updates_box {
    width:537px;
    height:562px;
    overflow:hidden;
    position: fixed;
    bottom:55px;
    left:0;
    background:url(../images/updates_bg.png) no-repeat;
    font-family: OpenSansBold;
    transition: 1.0s;
    transition-timing-function: ease-in-out;
}

#updates_box:hover { /*, #menu:focus {*/
    transition: 0.3s;
    left: 0 !important; /* Change to right: 0 !important; if you want the panel to display on the right side. */
}

#updates_inner {
    margin:4px;
    padding-top:4px;
    margin-left:24px;
    margin-right:34px;
    color:#eee;
    font-size:12px;
    font-style:normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor:default;
    vertical-align: bottom;
    max-height:471px;
    overflow-x:hidden;
    overflow-y:scroll;
}

#updates_inner_scrolling {
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

#updates_header {
    margin-top:11px;
    margin-left:30px;
    margin-right:41px;
    color:#eee;
    font-style:normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor:default;
    vertical-align: bottom;
    font-size:1.7em;
}

.updates_header_sub {
    font-size: 0.7em;
    padding-bottom: 5px;
    color:#aaa;
}

.updates_versionheader {
    background: rgba(0,0,0,0.5);
    padding:5px;
    font-size:1.5em;
    margin-bottom:3px;
}

.updates_versionheader_sub {
    font-size:0.8em;
    text-align:right;
}

.updates_subheader {
    background: rgba(0,0,0,0.5);
    padding:5px;
    font-size:1.1em;
    width: 50%;
    padding:0px;
    margin-left:10px;
}

.updates_content {
    color:black;
    font-size:14px;
    font-style:normal;
    margin-left:10px;
}

.updates_content ul {
    /*list-style-type: none;
    padding:0px;
    margin:2px;
    margin-left:10px;
    */
}

.updates_content .ico {
    vertical-align: text-top;
}

.updates_spacer {
    padding:20px;
}

.bbcode-pre {
    font-family: monospace;
}

.updates_contenticon {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}