@font-face {
  font-family: "OpenSansBold";
  src: url(../fonts/OpenSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf) format("truetype");
}

html,body{
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    overflow: hidden;

    font-family: 'OpenSans';
    color:white;
    /* 
    background: transparent !important;
    background-image: none !important;
    */
    /*background: url(../images/background_example.png);*/
    background-size: cover;

    -webkit-user-select: none;
    cursor: default;
}

a {
    color: dimgray
}

input {
    outline: none;
    cursor: pointer;
}

img {
    -webkit-user-drag: none;
}

select {
    color: white;
}

option {
    background-color: rgba(120, 120, 120, 1);
}

.sidepanel {
    position: absolute;
    width: 320px;
    background-color: rgba(91, 91, 91, 0.908);
    top: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    border-right:5px solid rgba(126, 126, 126, 1);
    overflow-y: auto;
 }

 .sidepanel > heading {
    font-family: 'OpenSansBold';
    font-size:2em;
 }

.sidepanel > .breadcrumbs {
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.sidepanel > .breadcrumbs > a {
    
    width: 100%;
    margin-bottom: 20px;
}

.sidepanel > .picture {
    margin-bottom: 20px;
}

.sidepanel > .picture img {
    width: 100%;
}

.sidepanel > .description {
    /*height: 100px;*/
    width: 100%;
    margin-bottom: 20px;
}

.sidepanel > .options {
    /*height: 300px; Either set this fix or to the remaining space*/
    width: 100%;
    margin-bottom: 20px;
}

.sidepanel > .go {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 110px;

    background-color: rgba(65, 65, 65, 1);
    border: solid rgba(121, 121, 121, 1);
    color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);

    font-family: 'OpenSansBold';
    font-size: 1.5em;

    outline: none;
    cursor: pointer;

}

.sidepanel .input {
    margin-bottom: 10px
}

.sidepanel > .options .optionsHeading {
    margin: 0;
}

.sidepanel > .options input[type="range"] {
    -webkit-appearance: none;
    width: 85%;
    height: 7px;
    margin: 9px 0 9px 15px;
    background-color: rgba(155, 155, 155, 1);
}

.sidepanel > .options input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: white;
    border: solid 2px rgba(40, 40, 40, 1);
    border-radius: 50px;
}

.sidepanel > .options input[type="checkbox"] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background-color: rgba(126, 126, 126, 1);
    border: solid 2px rgba(40, 40, 40, 1);
    margin: 0;
    float: right;
}

.sidepanel > .options input[type="checkbox"]:checked {
    background-color: white;
}

.sidepanel > .options input[type="radio"] {
    -webkit-appearance: none;
}

.sidepanel > .options .radioImg {
    width: 48px;
    height: 48px;
    background-color: rgba(126, 126, 126, 1);
    margin: 4px;
    border: solid 1px rgba(40, 40, 40, 1);
}

.sidepanel > .options .radioImg:checked {
    background-color: rgba(126, 126, 126, 1);
    height: 56px;
    width: 56px;
    margin: 0;
    border: solid 8px white;
}

.sidepanel > .options output {
    position: relative;
    left: 40%;
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    padding: 2px 10px 2px 10px;
    text-align: center;
    background-color: rgba(120,120,120,1);
}










.breadcrumb {
    /*centering*/
    margin: 0; padding: 0;
    display: inline-block;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    border-radius: 5px;
    /*Lets add the numbers for each link using CSS counters. flag is the name of the counter. to be defined using counter-reset in the parent element of the links*/
    counter-reset: flag; 
}

.breadcrumb a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 18px;
    color: white;
    /*need more margin on the left of links to accomodate the numbers*/
    padding: 0 5px 0 15px;
    background: #666;
    background: linear-gradient(#666, #333);
    position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
    padding-left: 5px;
    border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
    left: 14px;
}
.breadcrumb a:last-child {
    border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
}

/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
    background: #333;
    background: linear-gradient(#333, #000);
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
    background: #333;
    background: linear-gradient(135deg, #333, #000);
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
    content: '';
    position: absolute;
    top: 0; 
    right: -9px; /*half of square's length*/
    /*same dimension as the line-height of .breadcrumb a */
    width: 18px; 
    height: 18px;
    /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
    length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
    if diagonal required = 1; length = 1/1.414 = 0.707*/
    transform: scale(0.707) rotate(45deg);
    /*we need to prevent the arrows from getting buried under the next link*/
    z-index: 1;
    /*background same as links but the gradient will be rotated to compensate with the transform applied*/
    background: #666;
    background: linear-gradient(135deg, #666, #333);
    /*stylish arrow design using box shadow*/
    box-shadow: 
        2px -2px 0 2px rgba(160, 160, 160, 1.2), 
        3px -3px 0 2px rgba(255, 255, 255, 0.1);
    /*
        5px - for rounded arrows and 
        50px - to prevent hover glitches on the border created using shadows*/
    border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
    content: none;
}


.flat a, .flat a:after {
    background: rgba(120,120,120,1);
    color: rgba(190,190,190,1);
}
.flat a:before {
    background: rgba(120,120,120,1);
    box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
    background: #9EEB62;
    color: rgba(90,90,90,1);
}


.sidepanel > .go:hover {
    background-color: #9EEB62;
    color: rgba(90,90,90,1);
}













.content {
    position: absolute;
    height: 100%;
    left: 345px;
    right: 0;
    padding: 10px;
    padding-right: 20px;
    overflow-y: auto;
}

.content .listElement input[type="radio"] {
    display: none;
}

.content .listElement label {
    cursor: pointer;
}

.content .listElement {
    float: left;
    width: 250px;
    padding: 5px;
    margin: 5px;
    border: solid black 1px;
    background-color: white;
}

.content .listElement p {
    color: black;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}