.app .SimpleDigTacho
{
    text-align:center;
    color: RGBA(0,0,0,0.5);
}
.app .SimpleDigTacho .rpmField
{
    font-size:35px;
    height:53px;
}

.app .SimpleDigTacho .unitField
{
    font-size:10px;
    color: black;
    height:12px;
}