.app .SimpleDigTacho
{
    text-align:center;
    color: RGBA(0,0,0,0.5);
}
.app .SimpleDigTacho .rpmDiv
{
    font-size:35px;
    height:53px;
}

.app .SimpleDigTacho .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;
}
