.app .Messages
{
	overflow: visible;
}
.app .Messages .message
{
	font-size: 20px;
	text-shadow: 
		1px 0 2px black,
		-1px 0 2px black,
		0 1px 2px black,
		0 -1px 2px black,
		0 0 7px black; 
	color: white;
	margin-left: 5px;
	margin-top: 2px;
}