<md-content style="padding:10px; height:100%; width: 300px; box-sizing: border-box" layout="column">
  <v-accordion class="vAccordion--default" multiple style="overflow-y: auto">
    <v-pane ng-repeat="(title, options) in vehicles.data.filters" ng-if="title != 'Years'">
      <v-pane-header>{{ ::title }}</v-pane-header>
      <v-pane-content>
        <md-checkbox md-no-ink ng-repeat="(option, _) in ::options" ng-model="options[option]">{{ ::option }}</md-checkbox>
      </v-pane-content>
    </v-pane>

    <v-pane>
      <v-pane-header>Years</v-pane-header>
      <v-pane-content>
        <md-input-container>
          <label>FROM</label>
          <input ng-model="vehicles.data.filters['Years'].min" type="number">
        </md-input-container>
        <md-input-container>
          <label>UNTIL</label>
          <input ng-model="vehicles.data.filters['Years'].max" type="number">
        </md-input-container>
      </v-pane-content>
    </v-pane>
  </v-accordion>

  <md-button style="margin-top:5px" class="md-warn md-raised" ng-click="vehicles.removeFilters()">
    Remove Filters
  </md-button>
</md-content>

<md-content style="width:1200px; height: 100%" layout="column" class="VehicleSelect">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex>Vehicles</span>
      <md-input-container flex>
        <label>&nbsp;</label>
        <input ng-model="query">
      </md-input-container>
    </div> 
  </md-toolbar>

  <div flex layout-padding style="overflow-y: auto">
    <md-grid-list flex
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="25:12" md-row-height="25:12"
          md-gutter="4px" md-gutter-gt-sm="4px">
      <md-grid-tile ng-repeat="model in vehicles.data.list | filter: query | filter: vehicles.userFilters() | orderBy: vehicles.tilesOrder">
        <img src="/{{ model.preview }}" style="width: 100%;height: 100%;" ui-sref="menu.vehicleDetails({ model: model.key })"></img>
        <md-grid-tile-footer>
          <h3>{{ ::model['Brand'] }} {{ ::model['Name'] || 'Unknown' }}</h3>
          <button class="md-icon-button md-button bng-tile-button-secondary" ng-click="vehicles.launchDefaultConfig(model)">
            <md-icon class="material-icons" style="color: white">play_arrow</md-icon>
          </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>

