<md-content style="width:1200px; height: 100%" layout="column" class="VehicleSelect">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <ng-md-icon class="material-icons" style="fill:white; margin: 0 10px; cursor:pointer" ui-sref="menu.vehicles">
        arrow_back
      </ng-md-icon>
      <span flex> {{ ::vehicle.model['Brand'] }} {{ ::vehicle.model['Name'] }} </span>
    </div>
  </md-toolbar>

   <div flex layout-padding style="overflow-y: auto">
    <md-grid-list flex
          md-cols-sm="2" md-cols-md="2" md-cols-gt-md="3"
          md-row-height-gt-md="25:12" md-row-height="25:12"
          md-gutter="4px" md-gutter-gt-sm="4px">
      <md-grid-tile ng-repeat="(key, config) in ::vehicle.model.configs" ng-click="vehicle.selectConfig(key)">
        <img src="/{{ ::config.preview }}" style="width: 100%;height: 100%;"></img>
        <md-grid-tile-footer>
          <h3>{{ ::config['Configuration'] || 'Default' }}</h3>
          <button class="md-icon-button md-button bng-tile-button-secondary" ng-click="vehicle.launchConfig(key, false)">
            <md-icon class="material-icons" style="color: white">play_arrow</md-icon>
          </button>
        </md-grid-tile-footer>
      </md-grid-tile>
    </md-grid-list>
  </div>
</md-content>


<md-content ng-show="vehicle.selectedConfig" layout="column" style="width: 430px; height: 100%;">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools">
      <span flex>{{ vehicle.selectedConfig['Configuration'] || 'Default' }}</span>
    </div> 
  </md-toolbar>

  <img src="/{{ vehicle.selectedConfig.preview }}" style="width: 100%;"></img>

  <md-tabs flex>
    <md-tab label="Details">
      <md-list>

        <md-list-item class="md-2-line" ng-repeat="property in vehicle.detailsKeys" ng-if="property != 'Years'">
          <div class="md-list-item-text">
            <h3>{{ ::property }}</h3>
            <p>{{ vehicle.selectedConfig[property] || 'Unknown' }}</p>
          </div>
        </md-list-item>

        <md-list-item class="md-2-line" ng-if="vehicle.selectedConfig['Years']">
          <div class="md-list-item-text">
            <h3>Years</h3>
            <p>{{ ::vehicle.selectedConfig['Years'].min }} - {{ vehicle.selectedConfig['Years'].max }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-tab>

    <md-tab label="Color">
      <ng-color flex ng-model="vehicle.selectedColor"></ng-color>
    </md-tab>
  </md-tabs>

  <div layout="row">
    <md-button flex class="md-warn" ng-click="vehicle.launchConfig(vehicle.selectedConfig.key, true)">Spawn New</md-button>
    <md-button flex class="md-primary" ng-click="vehicle.launchConfig(vehicle.selectedConfig.key, false)">Replace Current</md-button>
  </div>
</md-content>