<div class="photo-mode-container">
  <div class="tl" layout layout-align="center center">
    <md-button class="md-fab" ng-click="photo.takePic()">
      <md-icon class="material-icons">photo_camera</md-icon>
    </md-button>
  </div>
  
  <div class="tr" layout layout-align="center center">
    <md-button md-no-ink class="md-fab" ng-click="photo.shareScreenshot()">
      <md-icon class="material-icons">share</md-icon>
    </md-button>
  </div>

  <div class="bl" layout layout-align="center center">
    <md-button md-no-ink class="md-fab" ui-sref="menu">
      <md-icon class="material-icons">close</md-icon>
    </md-button>
  </div> 

  <div class="br" layout layout-align="center center">
    <md-button md-no-ink class="md-fab" ng-click="photo.toggleSettings()">
      <md-icon class="material-icons">more_vert</md-icon>
    </md-button>
  </div>
  
  <md-content ng-if="photo.settings.visible" style="position: absolute; bottom: 30px; right: 150px; width: 400px; height: 100px;">
    <md-list-item layout>
      <p flex="40">Camera Speed</p>
      <md-slider flex ng-model="photo.settings.cameraSpeed" min="2" max="300" step="0.5"></md-slider>
    </md-list-item>

    <md-list-item layout>
      <p flex="40">Roll</p>
      <md-slider flex ng-model="photo.settings.roll" min="-200" max="200" step="1"></md-slider>
    </md-list-item>
  </md-content>
</div>
