<style>
  .md-select-menu-container.md-active md-select-menu { transition: none!important; }
  .md-select-menu-container.md-active md-select-menu > * { opacity: 1; transition: none!important; }
  .md-select-menu-container.md-leave { opacity: 0; transition: none!important; }
</style>

<md-content style="width: 400px; height: 100%;" >
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools" ng-hide="mode=='postfx'">OPTIONS</h1>
  </md-toolbar>

  <md-tabs class="md-primary" md-stretch-tabs="always" >

  <!-- -------------------- GAMEPLAY TAB ----------------------- -->
  <md-tab label="Graphics">
    <md-tab-body>

        <md-list-item layout>
          <p flex="40">Display</p>
          <select flex ng-model="options.data.values.GraphicDisplayDriver" ng-change="options.applyState()">
            <label>{{ options.data.options.GraphicDisplayDriver.modes.keys[options.data.values.GraphicDisplayDriver] }}</label>
            <option ng-value="opt" ng-repeat="(i, opt) in options.data.options.GraphicDisplayDriver.modes.keys">{{ options.data.options.GraphicDisplayDriver.modes.values[i] }}</option>
          </select>
        </md-list-item>

        <md-list-item layout>
          <p flex="40">Resolution</p>
          <select flex class="md-select-label" ng-model="options.data.values.GraphicResolution" ng-change="options.applyState()">
            <option ng-value="opt" ng-repeat="(i, opt) in options.data.options.GraphicResolutions.modes.keys">
              {{ options.data.options.GraphicResolutions.modes.values[i] }} 
            </option>
          </select>
        </md-list-item>



        <md-divider></md-divider>

        <md-list-item layout md-no-ink>
          <p>Full Screen</p>
          <md-checkbox ng-model="options.data.values.GraphicFullscreen" ng-change="options.applyState()" ></md-checkbox>
        </md-list-item>

        <md-list-item layout>
          <p>Vertical Sync</p>
          <md-checkbox md-no-ink ng-model="values.GraphicFullscreen" ng-disabled="{{ !values.GraphicFullScreen }}"></md-checkbox>
        </md-list-item>
      
        <md-list-item layout md-no-ink>
          <p>Borderless</p>
          <md-checkbox md-no-ink 
            ng-model="options.data.values.GraphicBorderless" 
            ng-disabled="{{ options.data.values.GraphicFullScreen }}" 
            ng-change="options.applyState()">
          </md-checkbox>
        </md-list-item>

        <md-list-item layout class="md-padding" style="padding-top:0; padding-bottom:0">
          <p flex="20">Gamma</p>
          <md-slider flex 
            ng-model="options.data.values.GraphicGamma" min="0" max="2" step="0.01" 
            ng-change="options.applyState()">
          </md-slider>
          <span style="padding:5px">{{ options.data.values.GraphicGamma.toFixed(2) }}</span>
          <md-button flex="5" class="md-icon-button" ng-click="options.resetGamma()">
            <md-icon class="material-icons">undo</md-icon>
          </md-button>
        </md-list-item>

        <md-divider></md-divider>

        <md-list-item layout>
          <p flex="40">Overall Quality</p>
          <select flex class="md-select-label" ng-model="overallQuality.value" ng-change="options.setQualityPreset()">
            <label>{{ overallQuality.modes.dict[overallQuality.value] }}</label>
            <option ng-value="opt" ng-repeat="(i, opt) in overallQuality.modes.keys">{{ overallQuality.modes.values[i] }}</option>
          </select>
        </md-list-item>

        <div ng-if="overallQuality.value == 0">
          <md-list-item layout>
            <p flex="40">Mesh Quality</p>
            <select flex class="md-select-label" ng-disabled="overallQuality.value != 0" ng-model="overallQuality.value">
              <label>{{ overallQuality.modes.values[i] }}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in overallQuality.modes.keys">{{ overallQuality.modes.values[i] }}</option>
            </select>
          </md-list-item>

           <md-list-item layout>
            <p flex="40">Texture Quality</p>
            <select flex class="md-select-label" ng-disabled="overallQuality.value != 0" ng-model="values.GraphicTextureQuality">
              <label>{{options.GraphicTextureQuality.modes.dict[values.GraphicTextureQuality]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicTextureQuality.modes.keys">{{ options.GraphicTextureQuality.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-list-item layout>
            <p flex="40">Lighting Quality</p>
            <select flex class="md-primary md-select-label" flex ng-model="values.GraphicLightingQuality" >
              <label>{{options.GraphicLightingQuality.modes.dict[values.GraphicLightingQuality]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicLightingQuality.modes.keys">{{ options.GraphicLightingQuality.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-list-item layout>
            <p flex="40">Shader Quality</p>
            <select flex class="md-select-label" ng-model="values.GraphicShaderQuality">
              <label>{{options.GraphicShaderQuality.modes.dict[values.GraphicShaderQuality]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicShaderQuality.modes.keys">{{ options.GraphicShaderQuality.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-list-item layout>
            <p flex="40">Post Processing Quality</p>
            <select flex class="md-select-label" ng-model="values.GraphicPostfxQuality">
              <label>{{options.GraphicPostfxQuality.modes.dict[values.GraphicPostfxQuality]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicPostfxQuality.modes.keys">{{ options.GraphicPostfxQuality.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-list-item layout>
            <p flex="40">Anisotropic filtering</p>
            <select flex class="md-select-label" ng-model="values.GraphicAnisotropic">
              <label>{{options.GraphicAnisotropic.modes.dict[values.GraphicAnisotropic]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicAnisotropic.modes.keys">{{ options.GraphicAnisotropic.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-list-item layout>
            <p flex="40">Antialiasing</p>
            <select flex class="md-select-label" ng-model="values.GraphicAntialias" >
              <label>{{options.GraphicAntialias.modes.dict[values.GraphicAntialias]}}</label>
              <option ng-value="opt" ng-repeat="(i, opt) in options.GraphicAntialias.modes.keys">{{ options.GraphicAntialias.modes.values[i] }}</option>
            </select>
          </md-list-item>

          <md-divider></md-divider>
        </div>

        <md-list-item md-no-ink>
          <p>SSAO</p>
          <md-checkbox ng-model="options.data.values.PostFXSSAOGeneralEnabled" ng-change="options.applyState()"></md-checkbox>
        </md-list-item>

        <md-list-item md-no-ink>
          <p>HDR</p>
          <md-checkbox ng-model="options.data.values.PostFXHDRGeneralEnabled" ng-change="options.applyState()"></md-checkbox>
        </md-list-item>

        <md-list-item md-no-ink>
          <p>Light Rays</p>
          <md-checkbox md-no-ink ng-model="options.data.values.PostFXLightRaysEnabled" ng-change="options.applyState()"></md-checkbox>
        </md-list-item>

        <md-list-item md-no-ink>
          <p>DoF</p>
          <md-checkbox ng-model="options.data.values.PostFXDOFGeneralEnabled" ng-change="options.applyState()"></md-checkbox>
        </md-list-item>
          
        <md-divider></md-divider>


        <md-list-item md-no-ink>
          <p>Dynamic Reflection</p>
          <md-checkbox ng-model="options.data.values.GraphicDynReflectionEnabled" ng-change="options.applyState()"></md-checkbox>
        </md-list-item>

        <section class="section" ng-if="values.GraphicDynReflectionEnabled">

          <md-list-item layout layout-align="center center">
            <p flex="40">Texture Size</p>
            <md-slider flex ng-model="values.GraphicDynReflectionTexsize" min="0" max="3" step="1" aria-label=""></md-slider>
            <span flex="15" style="text-align:right">{{ values.GraphicDynReflectionTexsize }}</span>
          </md-list-item>

          <md-list-item layout layout-align="center center">
            <p flex="40">Faces per update</p>
            <md-slider flex ng-model="values.GraphicDynReflectionFacesPerupdate" min="1" max="6" step="1" aria-label=""></md-slider>
            <span flex="15" style="text-align:right">{{ values.GraphicDynReflectionFacesPerupdate }}</span>
          </md-list-item>

          <md-list-item layout layout-align="center center">
            <p flex="40">Detail</p>
            <md-slider flex ng-model="values.GraphicDynReflectionDetail" min="0" max="1" step="0.1" aria-label=""></md-slider>
            <span flex="15" style="text-align:right">{{ values.GraphicDynReflectionDetail }}</span>
          </md-list-item>

          <md-list-item layout layout-align="end center">
            <p flex="40">Distance</p>
            <md-slider flex ng-model="values.GraphicDynReflectionDistance" min="10" max="1000" step="10" aria-label=""></md-slider>
            <span flex="15" style="text-align:right">{{ values.GraphicDynReflectionDistance }} m</span>
          </md-list-item>
        </section>

    </md-tab-body>
  </md-tab>



  <!-- -------------------- GAMEPLAY TAB ----------------------- -->
  <md-tab label="Gameplay">
    <md-content>
      <md-subheader>User Interface</md-subheader>
      <md-list-item>
        Unit System
      </md-list-item>

      <md-subheader>Theme</md-subheader>
      <md-list-item layout layout-align="end center">
        <p flex="40">Primary Palette</p>
        <select flex class="md-primary">
        </select>
      </md-list-item>

      <md-list-item layout layout-align="end center">
        <p flex="40">Accent Palette</p>
        <select flex class="md-primary">
        </select>
      </md-list-item>

      <md-list-item layout layout-align="end center">
        <p flex="40">Warn Palette</p>
        <select flex class="md-primary">
        </select>
      </md-list-item>

      <md-list-item layout layout-align="end center">
        <p flex="40">Background Palette</p>
        <select flex class="md-primary">
        </select>
      </md-list-item>

      <md-subheader>Physics</md-subheader>
      <div layout="column" layout-align="start start">
        <md-checkbox class="md-primary inlineCheckbox" ng-model="values.disableDynamicCollision" aria-label="">Disable Collision</md-checkbox>
        <div style="font-weight:bold;color:#dd3333">WARNING: disabling collision will negatively impact gameplay experience:</div>
        <ul>
        <li>Vehicles will pass through each other</li>
        <li>Framerate may increase</li>
        </ul>
        Please only use after having followed the optimization tips provided in the Help &gt; Performance menu.
      </div>



        
        <!-- <div layout="row" class="height32 optionRow">
          <div flex>Unit system</div>
          <div flex style="float: right;">
            <md-select class="md-primary" ng-model="values.uiUnits" style="float:right">
              <md-select-label>{{options.uiUnits.modes.dict[values.uiUnits]}}</md-select-label>
              <md-option ng-value="opt" ng-repeat="(i, opt) in options.uiUnits.modes.keys">{{ options.uiUnits.modes.values[i] }}</md-option>
            </md-select>
          </div>
        </div>
        <md-checkbox ng-model="values.devMode">Enable Advanced functions</md-checkbox>
        <div>This enables functions and bindings for advanced users</div><br/>
 -->

<!--         <h5>Theme</h5>

        <div layout="row" class="height32 optionRow" style="background-color:{{colorPaletteToRgbStr(uiConfig.primary, 500)}}">
          <div flex>Primary Palette</div>
          <div flex style="float: right;">
            <md-select class="md-primary" ng-model="uiConfig.primary" style="float:right">
              <md-select-label style="background-color:{{colorPaletteToRgbStr(uiConfig.primary, 500)}}"></md-select-label>
              <md-option style="background-color:{{colorPaletteToRgbStr(k, 500)}}" ng-repeat="(k,v) in mdColorPalette" ng-value="k"></md-option>
            </md-select>
          </div>
        </div>

        <div layout="row" class="height32 optionRow" style="background-color:{{colorPaletteToRgbStr(uiConfig.accent, 'A100', 300)}}">
          <div flex>Accent Palette</div>
          <div flex style="float: right;">
            <md-select class="md-primary" ng-model="uiConfig.accent" style="float:right">
              <md-select-label style="background-color:{{colorPaletteToRgbStr(uiConfig.accent, 'A100', 300)}}"></md-select-label>
              <md-option style="background-color:{{colorPaletteToRgbStr(k, 'A100', 300)}}" ng-repeat="(k,v) in mdColorPalette" ng-value="k"></md-option>
            </md-select>
          </div>
        </div>

        <div layout="row" class="height32 optionRow" style="background-color:{{colorPaletteToRgbStr(uiConfig.warn, 700)}}">
          <div flex>Warn Palette</div>
          <div flex style="float: right;">
            <md-select class="md-primary" ng-model="uiConfig.warn" style="float:right">
              <md-select-label style="background-color:{{colorPaletteToRgbStr(uiConfig.warn, 700)}}"></md-select-label>
              <md-option style="background-color:{{colorPaletteToRgbStr(k, 700)}}" ng-repeat="(k,v) in mdColorPalette" ng-value="k"></md-option>
            </md-select>
          </div>
        </div>

        <div layout="row" class="height32 optionRow" style="background-color:{{colorPaletteToRgbStr(uiConfig.background, 'A100', 800)}}">
          <div flex>Background Palette</div>
          <div flex style="float: right;">
            <md-select class="md-primary" ng-model="uiConfig.background" style="float:right">
              <md-select-label style="background-color:{{colorPaletteToRgbStr(uiConfig.background, 'A100', 800)}}"></md-select-label>
              <md-option style="background-color:{{colorPaletteToRgbStr(k, 'A100', 800)}}" ng-repeat="(k,v) in mdColorPalette" ng-value="k"></md-option>
            </md-select>
          </div>
        </div>

        <div layout="row" class="height32 optionRow">
          <md-checkbox class="md-primary inlineCheckbox" ng-model="uiConfig.dark" aria-label="">Dark Theme</md-checkbox>
          <md-button ng-click="setTheme(uiConfigDefault)" class="md-raised">Reset</md-button>
        </div> -->
        
<!--
        <md-checkbox class="md-primary inlineCheckbox" ng-model="values.uiFPS" aria-label="">Show FPS</md-checkbox>
-->
<!--       </section>

      <h4>Physics</h4>
      <section class="section">



      </section> -->
      
<!--
      <h4>Other</h4>
      <section class="section">
        <md-divider></md-divider>

        <md-checkbox class="md-primary inlineCheckbox" ng-model="values.remoteController" aria-label="">Remote controller: {{values.remoteController ? 'Enabled' : 'Disabled'}}</md-checkbox>
        <md-checkbox class="md-primary inlineCheckbox" ng-model="values.outgaugeProtocol" aria-label="">Outgauge protocol: {{values.outgaugeProtocol ? 'Enabled' : 'Disabled'}}</md-checkbox>
        <md-checkbox class="md-primary inlineCheckbox" ng-model="values.ingameIRC" aria-label="">Ingame IRC client: {{values.ingameIRC ? 'Enabled' : 'Disabled'}}</md-checkbox>

        <md-divider></md-divider>
-->
      </section>
  </md-tab>







  <!-- -------------------- AUDIO TAB ----------------------- -->
  <md-tab label="Audio">
    <md-content>
      <md-subheader>Hardware</md-subheader>
      <md-list>
        <md-list-item layout>
          <p flex="40">Audio Provider</p>
          <select flex class="md-select-label" ng-model="options.data.values.AudioProvider" ng-change="options.applyState()">
            <label>{{ options.data.options.AudioProvider.modes.dict[options.data.values.AudioProvider] }}</label>
            <option ng-value="opt" ng-repeat="(i, opt) in options.data.options.AudioProvider.modes.keys">{{ options.data.options.AudioProvider.modes.values[i] }}</option>
          </select>
        </md-list-item>

        <md-list-item layout>
          <p flex="40">Audio Device</p>
          <select flex class="md-select-label" ng-model="values.AudioDevice">
            <label>{{ options.AudioDevice.modes.dict[values.AudioDevice] | limitTo : 35 }}</label>
            <option ng-value="opt" ng-repeat="(i, opt) in options.AudioDevice.modes.keys">{{ options.AudioDevice.modes.values[i] }}</option>
          </select>
        </md-list-item>        
      </md-list>

      <md-divider></md-divider>

      <md-subheader>Volume</md-subheader>

      <md-list>
        <md-list-item layout layout-align="center center">
          <p flex="30">Master vol.</p>
          <md-slider flex ng-model="values.AudioMasterVol" min="0" max="1" step="0.01" aria-label=""></md-slider>
          <span flex="20" style="text-align: right">{{ values.AudioMasterVol * 100 | number: 0 }} %</span>
        </md-list-item>

        <md-list-item layout>
          <p flex="30">Effects vol.</p>
          <md-slider flex ng-model="values.AudioEffectsVol" min="0" max="1" step="0.01" aria-label=""></md-slider>
          <span flex="20" style="text-align: right">{{ values.AudioEffectsVol * 100 | number: 0 }} %</span>
        </md-list-item>

        <md-list-item layout>
          <p flex="30">Music vol.</p>
          <md-slider flex  ng-model="values.AudioMusicVol" min="0" max="1" step="0.01" aria-label=""></md-slider>
          <span flex="20" style="text-align: right">{{ values.AudioMusicVol * 100 | number: 0 }} %</span>
        </md-list-item>
      </md-list>

      <md-divider></md-divider>

      <md-list-item layout>
        <md-button class="md-raised md-warn" flex ng-click="values.AudioMasterVol = 0">
          <md-icon class="material-icons">volume_off</md-icon> Mute
        </md-button>
        <md-button class="md-raised" flex ng-click="testSound()">
          <md-icon class="material-icons">check</md-icon> Test
        </md-button>
      </md-list-item>
    </md-content>
  </md-tab>

</md-tabs>
</md-content>
