<link href="../../polymer/polymer/polymer.html" rel="import">
<link href="../../polymer/paper-dialog/paper-dialog.html" rel="import">
<link href="../../polymer/paper-fab/paper-fab.html" rel="import">
<link href="../../polymer/core-icons/core-icons.html" rel="import">
<link href="../../polymer/paper-button/paper-button.html" rel="import">
<polymer-element name="bng-vehicle-chooser">
	<template>
		<style>
		    paper-fab.blue {
		      background: #5677fc;
		    }

		    paper-fab.green {
		      background: #259b24;
		    }

		    paper-fab.yellow {
		      background: #ffeb3b;
		      color: #000;
		    }
		</style>
		<paper-dialog heading="Vehiclechooser" opened="true" backdrop="true" layered="true" style="width:90%">
			<div vertical layout>
				<div><paper-button raisedButton label="Gavril"></paper-button> > <paper-button label="D-Series" raisedButton></paper-button> > Configration</div>
				<div flex>area for selectable elements</div>
			</div>
			<paper-fab icon="close" dismissive></paper-fab>
			<paper-fab icon="done" class="green" affirmative></paper-fab>
		</paper-dialog>
	</template>
	<script>
		Polymer('bng-vehicle-chooser', {

		});
	</script>
</polymer-element>