.app .SimpleDash
{
}

.app .SimpleDash .canvas
{
    position: absolute;
    z-index: -1;
}

.app .SimpleDash .fuelDiv
{
    width: 33px;
    height: 33px;
    float: left;
}

.app .SimpleDash .hBrake
{
    width: 33px;
    height: 33px;
    float: left;
}

.app .SimpleDash .hBrake:hover
{
    background: RGBA(128,128,128,0.5);
}

.app .SimpleDash .hBrake:active
{
    background: RGBA(128,128,128,0.9);
}

.app .SimpleDash .leftBlink
{
    width: 33px;
    height: 33px;
    float: left;
}

.app .SimpleDash .leftBlink:hover
{
    background: RGBA(128,128,128,0.5);
}

.app .SimpleDash .leftBlink:active
{
    background: RGBA(128,128,128,0.9);
}

.app .SimpleDash .rightBlink
{
    width: 33px;
    height: 33px;
    float: right;
}

.app .SimpleDash .rightBlink:hover
{
    background: RGBA(128,128,128,0.5);
}

.app .SimpleDash .rightBlink:active
{
    background: RGBA(128,128,128,0.9);
}

.app .SimpleDash .absDiv
{
    width: 33px;
    height: 33px;
    float: right;
}

.app .SimpleDash .lightsDiv
{
    width: 33px;
    height: 33px;
    float: right;
}

.app .SimpleDash .lightsDiv:hover
{
    background: RGBA(128,128,128,0.5);
}

.app .SimpleDash .lightsDiv:active
{
    background: RGBA(128,128,128,0.9);
}
