.app .SimpleDash
{

}

.app .SimpleDash .canvas
{
    position:       absolute;
    pointer-events: none; /* allows us to click through the canvas element */
}

.app .SimpleDash .clickable, .nonclickable
{
    width:          33px;
    height:         33px;
    display:         inline-block;
}

.app .SimpleDash .clickable
{
    cursor: pointer;
}

.app .SimpleDash .clickable:hover
{
    background:     RGBA(128,128,128,0.5);
}

.app .SimpleDash .clickable:active
{
    background:     RGBA(128,128,128,0.9);
}
