.app .SimpleNBDebug .table
{
    padding: 5px;
    cursor: pointer;
}

.app .SimpleNBDebug .table:hover
{
    background: RGBA(128,128,128,0.5);
}

.app .SimpleNBDebug .noPoint
{
    pointer-events:none;
}
