.app .SimpleSteering
{
    line-height: 0;
    border: none;
    text-align:center;
    color: RGBA(0,0,0,0.5);
}

.app .SimpleSteering .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;

    line-height: 14px; /* Dont even ask it just works :| */
}
