.app .SimpleGears
{
    text-align:center;
    color: RGBA(0,0,0,0.5);
}

.app .SimpleGears .bigGearDiv
{
    font-size:35px;
    height:38px;
}

.app .SimpleGears .ltlGearDiv
{
    font-size:14px;
    height:15px;
}

.app .SimpleGears .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;
}
