.app .Winds
{

    color: RGBA(0,0,0,0.0);
}
.app .Winds .circle
{
	margin: 30px auto;
	width:150px;
	height:150px;
	border:5px solid #f6880a;
	border-radius:50%;
	background: radial-gradient(circle at 150px 150px, #00000, #222);
	box-shadow:0 3px 4px #b4b4b4;
	text-align:center;
}

.app .Winds .handler {
	text-align:center;
	position:absolute;
	font-size:15px;
	line-height:40px;
	height:40px;
	width:40px;
	left:75px;
	top:-20px;
	background-color: #f6f6f6 /*{a-bup-background-color}*/;
    border:2px solid #dddddd;
    color: #333 /*{a-bup-color}*/;
	font-weight:bold;
    text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;
	border-radius:50%;
	cursor:pointer;
	-webkit-user-select:none;
	-moz-user-select:none;
	box-shadow:0 3px 4px #b4b4b4
}


.app .Winds .labelWS
{
    font-size:15px;
    color: #666;
    height:100%;
	float: right;
	padding: 0px 5px;
	cursor: pointer;
}

.app .Winds .labelWS:hover
{
    background: RGBA(128,128,128,0.3);
}

.app .Winds .arrow-up {
	position:absolute;
	left:107.5px;
	top:75px;
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 50px solid #666;
}

.app .Winds  input[type=range]{
    -webkit-appearance: none;  
    width: 100%;  
    border-radius: 4px;  
    height: 7px;  
    border: 1px solid #aaa;  
    background-color: hsla(32, 93%, 50%, 0);
	box-shadow:0 3px 4px #b4b4b4	
}


.app .Winds input[type='range']::-webkit-slider-thumb {
	
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 15px;
	height: 20px;
	border-radius: 5.5px;
	box-shadow:0 3px 4px #b4b4b4

}
