.contentNavVehicleconfig {
  width: 400px;
}

.contentNavVehicleconfig md-select {
  padding: 0;
  margin: 0; 
}

.contentNavVehicleconfig .inputName {
  font-size:95%;
}

.contentNavVehicleconfig .accordionText {
  background-color:transparent !important;
  cursor: pointer;
  padding: 0;
  margin:0;
}

.contentNavVehicleconfig .accordionHeader:hover {
  background-color: rgba(158,158,158,0.2) !important;
}

.contentNavVehicleconfig .md-button {
  min-width: 0;
}
