
.contentNavCredits {
  width:100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  height: 100%;

  background: radial-gradient(ellipse at top left, #334455 0%, #000 100%);
  overflow: hidden !important;
}

/* latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Cond Light'), local('OpenSans-CondensedLight'), url(/html/v3/common/RobotoCondensed-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@-webkit-keyframes credits {
  0% {
    top: 100%;
  }
  100% {
    top: -3600px;
  }
}

.contentNavCredits .wrapper {
  position: absolute;
  top: 100%;
  left: calc(50% - 300px);
  width: 600px;
  font: 300 30px/1 'Roboto Condensed', sans-serif;
  text-align: center;
  /* text-transform: uppercase; */
  color: #fff;
  -webkit-animation: 90s credits linear;
}

.contentNavCredits movie {
  display:block;
  margin-bottom: 50px;
  font-size: 50px;
}

.contentNavCredits job {
  display:block;
  margin-top: 140px;
  margin-bottom: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

.contentNavCredits name {
  display:block;
  margin-bottom: 8px;
  font-size: 32px;
  text-transform: uppercase;
}

.contentNavCredits namel {
  display:block;
  margin-bottom: 5px;
  font-size: 32px;
}

.contentNavCredits name b {
  font-weight: normal;
  text-transform: none;
}

.contentNavCredits .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}