<md-content style="width: 100%; height:100%; background-color: transparent; color: white;" layout="row" layout-align="center" >
  <div style="height: 100%; width: 500px; background-color: rgba(0, 0, 0, 0.4)" layout="column">
    <div flex layout="column" layout-align="center center">
      <span class="material-icons" style="font-size: 5em; color: {{ scenarioEnd.result.color }}">{{ scenarioEnd.result.icon }}</span>
      <div style="font-size: 1.5em">{{ scenarioEnd.result.message }}</div>
    </div>
    <div layout="row" layout-align="space-around center" style="margin-bottom:30px">
      <span class="material-icons" style="font-size:3em; cursor:pointer; outline: none" ng-click="scenarioEnd.retry()">replay</span>
      <span class="material-icons" style="font-size:3em; cursor:pointer; outline: none" ng-click="scenarioEnd.freeRoam()">play_arrow</span>
      <span class="material-icons" style="font-size:3em; cursor:pointer; outline: none" ng-click="scenarioEnd.next()">skip_next</span>
    </div>
  </div>
</md-content>