.app .SimpleSpeedo
{
    line-height: 0;
    border: none;
    text-align:center;
    color: RGBA(0,0,0,0.5);
}

.app .SimpleSpeedo .labelDiv
{
    font-size:10px;
    color: black;
    height:13px;

    cursor: pointer;

    line-height: 14px; /* Dont even ask it just works :| */
}

.app .SimpleSpeedo .labelDiv:hover
{
    background: RGBA(128,128,128,0.5);
}
