.app .SimpleSpeedo
{
    line-height: 0px;
    border: none;
    text-align:center;
    color: RGBA(0,0,0,0.5);
}
.app .SimpleSpeedo .canvas
{  
}

.app .SimpleSpeedo .unitField
{
    font-size:10px;
    color: black;
    height:12px;
    
    line-height: 14px; /* Dont even ask it just works :| */
}

.app .SimpleSpeedo .unitField:hover
{
    background: RGBA(128,128,128,0.5);
}